html {
	margin-top: 0;
	padding: 0px;
}

body {
	background-image: url('../img/nashville_skyline_c.jpg');
	background-repeat:repeat;
	background-attachment:fixed;
	overflow:scroll;
	background-color: #f9e9c9;
	margin-top: 0px;
	margin-left: 0px;
}

@font-face {
    font-family: 'BebasRegular';
    src: url('BEBAS___-webfont.eot');
    src: url('BEBAS___-webfont.eot?#iefix') format('embedded-opentype'),
         url('BEBAS___-webfont.woff') format('woff'),
         url('BEBAS___-webfont.ttf') format('truetype'),
         url('BEBAS___-webfont.svg#BebasRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

h1 {
	font-family: 'BebasRegular';
	font-size: 44px;
	letter-spacing: 6px;
	text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
	text-align: center;
	color: #e51d30;
}


h2 {
	font-family: 'BebasRegular';
	font-size: 24px;
	letter-spacing: 6px;
	text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
	text-align: center;
	color: #e51d30;
}

h3 {
	font-family: 'CrimsonRoman';
	text-align: center;
	font-family: 'serif';
	font-size: 18px;
	line-height: 22px;
}

.hero {
	width: 100%;
	height: 800px;
}

.herologo {
	margin: auto; 
	width: 98%;
	height: 300px;
	padding: 0px;
}

.herologo img {
	width: 940px;
	margin-left: 180px ;
  margin-right: auto ;
  padding-top: 100px;
}

.herologo h1 {
	width: 940px;
	margin-left: 180px ;
  margin-right: auto ;
  padding-top: 150px;
}

.headline {
	width: 940px;
	margin-left: 180px ;
  margin-right: auto ;
  padding-top: 100px;
}


.container {
	position:absolute;
	width: 100%;
}


.navbar{
	width: 100%;
	/*float: left;*/
	position: fixed;
	margin-top: 0;
	padding: 0;
	height: 60px;
	background-color: #f79229;
  opacity: .9;
}

ul {
	list-style-type: none;
	margin:0;
	padding:0;
	margin-top: 15px;
}

li {
	display: inline;
}

a {
	font-family: 'BebasRegular';
	font-size: 12px;
	padding: 20px 15px 10px;
	color: #2d1c34;
	text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
	text-decoration: none;
}

#navbar-logo {
	padding: 5px 0px 0px 25px;
	float: left;
}

/*.navbar .nav > li > a {
	font-family: 'BebasRegular';
	font-size: 12px;
	padding: 20px 15px 10px;
	color: #2d1c34;
	text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
	display: inline;
	list-style-type: none;
}*/

.hero-unit {
	padding: 0px;
}

.maindiv {
	height: 960px;
}

/*.hero-unit img {
	width: 100%; 
	height: auto;
	background-image: url('../img/ts_hero.jpg');
 	background-repeat: none;
}*/

.aboutus-wrapper {
	background-color: #f9e9c8;
	width: 100%;
	height: 800px;
	margin: auto;
}

.aboutus {
	width: 100%; 
	height: 800px;
	background-image: url('../img/ts_hero.jpg');
 	background-repeat: no-repeat;
 	background-color: #f9e9c8;
}


.span4-logo {
	margin-right: auto;
	margin-left: auto;
}