html {
	margin-top: 0;
	padding: 0px;
}

body {
	/*background-image: url('../img/hero_img.jpg');*/
	background-repeat:repeat;
	background-attachment:fixed;
	overflow:scroll;
	background-color: #f9e9c9;
	margin-top: 0px;
	margin-left: 0px;
}

h1 {
	font-family: 'ColaborateBoldRegular';
	font-size: 44px;
	letter-spacing: 0px;
	line-height: 14px;
	/*text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);*/
	text-align: center;
	color: #e51d30;
}


h2 {
	font-family: 'ColaborateRegular';
	font-size: 24px;
	letter-spacing: 6px;
	/*text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);*/
	text-align: center;
	color: #e51d30;
}

h3 {
	font-family: 'ColaborateBoldRegular';
	font-size: 24px;
	letter-spacing: -1px;
	line-height: 24px;
	/*text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);*/
	text-align: left;
	text-transform: uppercase;
	color: #fff;
	margin-top: 5px;
}

.contact-left h3 {
	font-family: 'ColaborateBoldRegular';
	font-size: 24px;
	letter-spacing: -1px;
	line-height: 24px;
	/*text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);*/
	text-align: left;
	text-transform: uppercase;
	color: #fff;
	margin-bottom: 5px;
	margin-top: 25px;
}


h4 {
	font-family: 'ColaborateRegular';
	font-size: 16px;
	letter-spacing: 0px;
	line-height: 5px;
	text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
	text-align: center;
	text-transform: uppercase;
	color: #fff;
}

h5 {
	font-family: 'ColaborateThinRegular';
	font-size: 16px;
	letter-spacing: 0px;
	line-height: 16px;
	/*text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);*/
	text-align: left;
	text-transform: uppercase;
	color: #fff;
	margin-bottom: 5px;
}

p {
	font-family: 'ColaborateThinRegular';
	color: #fff;
	font-size: 24px;
	line-height: 30px;
}

hr {
	height: -1em;
	color: #fff;
	background-color: #fff;
	opacity: .5;
}

.copy {
	padding-top: 5px;
	width: 700px;
	height: 800px;
	margin-right: auto;
	margin-left: auto;
}

.clientcopy-right .clientcopy-left a {
	color: #fff;
}

.clientcopy-right .clientcopy-left a:link {color:#fff;}      /* unvisited link */
.clientcopy-right .clientcopy-left a:visited {color:#fff;}  /* visited link */
.clientcopy-right .clientcopy-left a:hover {color:#f79229;}  /* mouse over link */
.clientcopy-right .clientcopy-left a:active {color:#fff;}  /* selected link */


.clientcopy-right {
	padding-top: 20px;
	width: 300px;
	padding-left: 50px;
	float: left;
} 

.clientcopy-left {
	padding-top: 20px;
	width: 300px;
	padding-right: 50px;
	float: left;
} 



.copy p {
	font-family: 'ColaborateThinRegular';
	text-align: center;
	font-family: 'serif';
	font-size: 16px;
	line-height: 24px;
	margin-right: auto;
	margin-left: auto;
}


.hero {
	width: 1200px;
	height: 1300px;
	margin-right: auto;
	margin-left: auto;
}

.herologo {
	margin-left: auto; 
	margin-right: auto;
	width: 600px;
	height: 400px;
	padding: 0px;
}

.herologo img {
	width: 600px;
	margin-left: auto;
  margin-right: auto ;
  padding-top: 175px;
}

.herologo h1 {
	width: 940px;
	margin-left: 180px ;
  margin-right: auto ;
  padding-top: 150px;
}

.headline {
	width: 940px;
	margin-left: auto;
  margin-right: auto;
  padding-top: 150px;
}

.headline-section {
	width: 940px;
	margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
}

.headline-section-about {
	width: 940px;
	margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
}


.container {
	position:absolute;
	width: 100%;
}


.navbar{
	width: 100%;
	position: fixed;
	margin-top: 0;
	padding: 0;
	height: 60px;
	background-color: none;
/*	-webkit-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.3);
	box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.3);*/
}

ul {
	list-style-type: none;
	margin:0;
	padding:0;
	margin-top: 20px;
	float: right;
	padding-right: 75px;
}

li {
	display: inline;
}

a {
	font-family: 'ColaborateThinRegular';
	font-size: 16px;
	padding: 20px 15px 10px;
	color: #fff;
	letter-spacing: 1px;
	/*text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);*/
	text-decoration: none;
	text-transform: uppercase;
}

#navbar-logo {
	padding: 0px 0px 0px 25px;
	float: left;
	padding-left: 75px;
}

/*.navbar .nav > li > a {
	font-family: 'BebasRegular';
	font-size: 12px;
	padding: 20px 15px 10px;
	color: #2d1c34;
	text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
	display: inline;
	list-style-type: none;
}*/

.hero-unit {
	padding: 0px;
}

.maindiv {
	height: 960px;
}

/*.hero-unit img {
	width: 100%; 
	height: auto;
	background-image: url('../img/ts_hero.jpg');
 	background-repeat: none;
}*/

.aboutus-wrapper {
	width: 100%;
	height: 1200px;
	margin-left: auto;
	margin-right: auto;
}

.aboutus {
	width: 100%; 
	height: 1200px;
	margin-left: auto;
	margin-right: auto;
	background-image: url('../img/about.png');
 	background-repeat: repeat-x;
 	text-align: left;
}

.aboutus-copy {
	padding-top: 125px;
	width: 400px;
	margin-left: 100px;
}

.clients-wrapper {
	background-color: #cf2329;
	width: 100%;
	height: 800px;
	margin-left: auto;
	margin-right: auto;
}

.clients {
	width: 100%; 
	height: 1200px;
	margin-left: auto;
	margin-right: auto;
	background-image: url('../img/ts_client.jpg');
 	background-repeat: repeat-x;
 	background-color: #150a1a;
}

.clients .headline-section h1 {
	font-family: 'ColaborateBoldRegular';
	font-size: 64px;
	letter-spacing: 0px;
	/*text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);*/
	text-align: center;
	text-transform: uppercase;
	color: #fff;
}


.contact-wrapper {
	width: 1100px;
	/*height: 1200px;*/
	margin-left: auto;
	margin-right: auto;
	padding-top: 500px;
}

.contact-left {
	width: 500px; 
	height: 600px;
	padding-top: 100px;
	padding-left: 50px;
	float: left;
	/*background-color: #fff*/;
}

.contact-right {
	width: 500px; 
	height: 600px;
	padding-top: 100px;
	padding-right: 50px;
	float: left;
	/*background-color: #fff*/;
}

.contact-left input {
	width: 300px; 
	height: 25px;
	margin-left: auto;
	margin-right: auto;
	border: none;
	-webkit-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.3);
	box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.3);
	padding-top: 10px;
	/*background-color: #fff*/;
}

.contact h3 {
	font-family: 'ColaborateBoldRegular';
	font-size: 20px;
	letter-spacing: -1px;
	line-height: 0px;
	/*text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);*/
	text-align: left;
	text-transform: uppercase;
	color: #fff;
	padding: 15px 0px 0px 0px;
}



#submit {
	background-color:#f3b543;
/*	-moz-border-radius:1px;
	-webkit-border-radius:1px;
	border-radius:1px;
	border:1px solid #dcdcdc;*/
	-webkit-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.3);
	box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.3);
	border-style: none;
	display:inline-block;
	width: 100px;
	height: 30px;
	color:#000;
	font-family: 'ColaborateBoldRegular';
	font-size:18px;
	padding:7px 27px;
	text-decoration:none;
	text-transform: uppercase;
	letter-spacing: -1px;
	margin-top: 15px;
}
#submit:hover {
	background-color:#fff;
}
#submit:active {
	position:relative;
	top:1px;
}



#message {
	height: 200px;
}

::-webkit-input-placeholder {
   padding: 15px;
   text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
   padding: 15px; 
   text-align: center;
}

::-moz-placeholder {  /* Firefox 19+ */
   padding: 15px; 
   text-align: center;
}

:-ms-input-placeholder {  
   padding: 15px;
   text-align: center;
}